<input type="number" [formControl]="idControl" hidden/>
<input #nit type="number" [formControl]="NITControl" required />
<input #name type="text" [formControl]="nameControl" required />
<input #correo type="email" [formControl]="correoControl" required />

<input #BotonEnviar type="button" (click)="SendClient()" value="enviar" />
<input #BotonEditar type="button" (click)="Editar()" value="Editar" disabled/>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>NIT</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody *ngFor="let cliente of listaClientes | async">

    <tr>
      <th>{{cliente.id}}</th>
      <th>{{cliente.nit}}</th>
      <th>{{cliente.nombre}}</th>
      <th>{{cliente.correo}}</th>
      <th>

        <input type="button" (click)="Edit(cliente)" value="Editar" />

        <input type="button" (click)="Delete(cliente)"  value="Eliminar" />
      </th>
    </tr>
  </tbody>
</table>
