<input type="number" [formControl]="idControl" hidden/>
<input #nit type="number" [formControl]="NITControl" placeholder="NIT del cliente" required />
<input #name type="text" [formControl]="nameControl" placeholder="nombre del cliente" required />
<input #correo type="email" [formControl]="correoControl"  placeholder="correo del cliente" required />

<input #BotonEnviar type="button" class="btn btn-primary" (click)="SendClient()" value="Enviar" />
<input #BotonEditar type="button" class="btn btn-secondary" (click)="Editar()" value="Editar" disabled/>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>NIT</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody *ngFor="let cliente of listaClientes | async |paginate: {itemsPerPage: 5, currentPage: pageActual } ">

    <tr>
      <th>{{cliente.id}}</th>
      <th>{{cliente.nit}}</th>
      <th>{{cliente.nombre}}</th>
      <th>{{cliente.correo}}</th>
      <th>

        <input type="button" class="btn btn-secondary"  (click)="Edit(cliente)" value="Editar" />

        <input type="button" class="btn btn-danger" (click)="Delete(cliente)"  value="Eliminar" />
      </th>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageActual =$event"></pagination-controls>
